name: Build Signed apk

env:
  # The name of the main module repository
  main_project_module: app


on:
  push:
    branches:
      - main

  pull_request:
    types:
      #      FOR TESTING ONLY
      - opened
      - synchronize
      - reopened
      #      REMOVE THIS BEFORE PUSH
      - closed

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: r0adkll/sign-android-release@v1
        name: Sign app APK
        # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          # override default build-tools version (33.0.0) -- optional
          BUILD_TOOLS_VERSION: "34.0.0"

      # Example use of `signedReleaseFile` output -- not needed
      - uses: actions/upload-artifact@v2
        with:
          name: Signed app bundle
          path: ${{steps.sign_app.outputs.signedReleaseFile}}